<html>
<body>
<div id="header">
  <img src= ""</img>
  <h1><%= link_to 'What Would You Do If You Were 5 Again?', new_would_path %></h1>
</div>

<div id="mainContent">
<!-- <table>
  <tr>
    <!- <th>Question</th> -->
    <!-- <th>Answer</th> -->
    <!-- <th></th> -->
    <!-- <th></th> -->
    <!-- <th></th> -->
  <!-- </tr> --> 
<ol>
<% @woulds.each do |would| %>
	<%= would.question %>
	<li><a href = "/woulds/new"> <%= would.answer %></a></li>
    <!-- <td><%#= link_to 'Show', would %></td>
    <td><%#= link_to 'Edit', edit_would_path(would) %></td> -->
    <!-- <td><%#= link_to 'Destroy', would, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
<% end %>
</ol>
<!-- </table> -->
</div>


<br />
<div id="footer">
					This has been an AWESOME Under 5'1" production.
				</div>
</body>
</html>

<%#= link_to 'Post Your Answer', new_would_path %>
