<div id="header">
  <h1>What Would You Do If You Were 5 Again?</h1>

</div>



<%= render 'form' %>


<div id="footer">
  <%= link_to 'Back', woulds_path, :class => 'back'%>This has been an AWESOME Under 5'1" production.
				</div>